#https://pypi.org/project/netifaces/
#netifaces==0.11.0
#https://pypi.org/project/netifaces2/
netifaces2
#https://pypi.org/project/psutil/
psutil
#https://pypi.org/project/ifaddr/
ifaddr
#https://pypi.org/project/streamlink/
#sudo apt install -y streamlink
streamlink==6.7.4
#https://pypi.org/project/lxml/
#sudo apt install -y python3-lxml
#lxml
#https://pypi.org/project/launchpadlib/
#launchpadlib